@{
    ViewData["Title"] = "Chat Rooms";
}


<table class="table">
    <thead>
        <tr>
            <th>Chatroom naam</th>
            <th>Opties</th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>