@using WouterFennis.ChatApp.FrontEnd.ViewModels
@model List<ChatRoomViewModel>
@{
    ViewData["Title"] = "Chat Rooms";
}

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(x => x.First().Name)</th>
                <th>Opties</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var chatRoom in Model)
            {
                <tr>
                    <td>@chatRoom.Name</td>
                    <td><a asp-controller="ChatRoomOverview" asp-action="JoinChatRoom" asp-route-chatRoomId="@chatRoom.Id" class="btn btn-success">Join</a></td>
                </tr>
            }
        </tbody>
    </table>
